{% load static %}
<html>
    <head>
        <title>{% block title %}Admin{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/adminhome.css' %}"/>
        <script src="{% static 'javascript/admin.js' %}"></script> 
    </head>
    {% block bodyclass %}
    <body id="base" onload="changeActive(this.id)">
    {% endblock %}
        <div class="header">
            <a href="{{ '/college-admin/home' }}"><img src="{% static 'ganpat_logo.png' %}" alt="My image" class="top-logo"></a>
            {% block navbar %}
            <div class="navbar">
                {% include './navbar.html' %}
            </div>
            {% endblock %}
        </div>

        <div class='main'>
            <div class="content">
                {% block content %}
                    content here
                {% endblock %}
            </div>
            </div>
        </br>
        <div class="footer">
            <p>
                Purvesh Gandhi & Ronak Kanthariya
            </p>
        </div>
    </body>
</html>