<a href="{{ '/college-admin/logout/' }}" type="submit">Logout</a>
<a href="{{ '/college-admin/profile/' }}" class="navbar-item" id="item-profile" >Profile</a>
<a href="{{ '/college-admin/courses/' }}" class="navbar-item" id="item-courses" >Courses</a>
<a href="{{ '/college-admin/staff/' }}" class="navbar-item" id="item-staff"  >Staff</a>
<a href="{{ '/college-admin/students/' }}" class="navbar-item" id="item-students">Students</a>
<a href="{{ '/college-admin/home/' }}" class="navbar-item" id="item-home">Home</a>
