{% extends './base.html' %}

{% load static %}

{% block title %}Admin - Profile{% endblock %}

{% block bodyclass %}
    <body id="profile" onload="changeActive(this.id)">
{% endblock %}

{% block content %}

<div class="Admin_profile">
    <table  id="adminprofile">
        <tr>
          <td>Name:</td>
          <td>{{admin.firstName}}  {{admin.lastName}}</td>
        </tr>
        <tr>
          <td>Gender:</td>
          <td>{{admin.gender}}</td>
        </tr>
         <tr>
          <td>Phone No:</td>
          <td>{{admin.mobile}}</td>
        </tr>
         <tr>
          <td>Email:</td>
          <td>{{admin.email}}</td>
        </tr>
         <tr>
          <td>Branch:</td>
          <td>{{branch}}</td>
        </tr>
         <tr>
          <td>Role:</td>
          <td>{{admin.designation}}</td>
        </tr>
        <tr>
          <td>Account_id:</td>
          <td>{{admin.account_id}}</td>
        </tr>

      </table>
      <div class="profile_btn">
        <input type="button" value="Edit Profile" id="Edit_btn" onclick="location.href='../edit-profile/{{admin.account_id}}'" >


</div>
</body>


{% endblock %}