{% extends './base.html' %}

{% load static %}


{% block title %}Admin - Staff{% endblock %}

{% block content %}
<div class="staff-approve">
<center>
<h2> Staff Approve</h2>
<form method="POST" action="../approve-staff/{{editdata.account_id}}">   

    <!--actual path-->
    <!--<form method="POST" action="http://127.0.0.1:8000/college-admin/approved-staff/{{editdata.account_id}}/">-->
    {% csrf_token %}
    {{ form.errors }}
    {{ form.non_field_errors }}
    <table class="staff-approvelist" align="center"> 
    
    
        <tr>
            <th>First-Name:</th>
            <td><input type="text" name="firstName" value="{{editdata.firstName}}" readonly></td>
        </tr>
        <tr>
            <th>Middle-Name:</th>
            <td><input type="text" name="middleName" value="{{editdata.middleName}}" readonly></td>
        </tr>

        <tr>
            <th>Last-Name:</th>
            <td><input type="text" name="lastName" value="{{editdata.lastName}}" readonly></td>
        </tr>

        <tr>
            <th>User-Name:</th>
            <td><input type="text" name="username" value="{{editdata.username}}" readonly></td>
        </tr>

        <tr>
            <th>Account_id:</th>
            <td><input type="text" name="account_id" value="{{editdata.account_id}}" readonly></td>
        </tr>

        <tr>
            <th>Mobile:</th>
            <td><input type="text" name="mobile" value="{{editdata.mobile}}" readonly></td>
        </tr>
       
        <tr>
            <th>Branch:</th>
            <td><input type="text" name="branch" value="{{editdata.branch}}" readonly></td>
        </tr>

        <tr>
            <th>Email:</th>
            <td><input type="text" name="email" value="{{editdata.email}}" readonly></td>
        </tr>

        <tr>
            <th>Gender:</th>
            <td><input type="text" name="gender" value="{{editdata.gender}}" readonly></td>
        </tr>

        <tr>
            <th>Request:</th>
            <td><input type="text" name="isPending" value="False" readonly></td>
        
        </tr>
</table>
<input type="submit" value="Approve" onclick="account_approved()"/>
<input type="button" value="Deny"  onclick="location.href='../'">
<input type="button" value="Back"  onclick="location.href='../'">

<!--actual path-->
<!--<input type="button" value="Deny"  onclick="location.href='http://127.0.0.1:8000/college-admin/staff-account-pending-details'">
<input type="button" value="Back"  onclick="location.href='http://127.0.0.1:8000/college-admin/staff'">-->
{% if messages %}
{% for j in messages %}
<h2>{{j}}</h2>
{% endfor %}
{% endif %}
</form> 
</center>
<script>
    function account_approved() {
      alert("Staff Approved");
    }
    </script>
</div>
{% endblock %}