{% extends './base.html' %}
{% load static %}


{% block title %}Admin - Staff{% endblock %}

{% block bodyclass %}
    <body id="staff" onload="changeActive(this.id)">
{% endblock %}

{% block content %}
<div class="stafflabel">
    <p>Search Staff</p>
</div>

</div>
<div class="newstaffsearch">
    <input type="text" name="staffsearch" id="staffsearch" placeholder="Search Designation" onkeyup="searchstaffrecords();">
    <input type="submit" name="pending" id="pending" value="Pending Accounts" onclick="location.href='../staff-account-pending-details'" >
    <input type="submit" name="approved" id="approved" value="Approved Accounts" onclick="location.href='../staff-account-approved-details'" >

<!--actual path-->
    <!--<input type="submit" name="pending" id="pending" value="Pending Accounts" onclick="location.href='http://127.0.0.1:8000/college-admin/staff-account-pending-details'" >
    <input type="submit" name="approved" id="approved" value="Approved Accounts" onclick="location.href='http://127.0.0.1:8000/college-admin/staff-account-approved-details'" >-->
</div>

<div class="datasection_student">
    <table id="staff_list1" border="1">
        <tr>
            <th>Account_id</th>
            <th>First-Name</th>
            <th>Middle-Name</th>
            <th>Last-Name</th>
            <th>Mobile</th>
            <th>Branch</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Designation</th>
            <th>Request</th>
            <th>Actions</th>
            <th>Edit</th>
        </tr>

    {% for i in staff %}
        <tr>
            
            <td>{{i.account_id}}</td>
            <td>{{i.firstName}}</td>
            <td>{{i.middleName}} </td>
            <td>{{i.lastName}} </td>
            <td>{{i.mobile}}</td>
            <td>{{branch_name|get_item:i.employee_id}}</td>
            <td>{{i.email}}</td>
            <td>{{i.gender}}</td>
            <td>{{i.designation}}</td>
            <td>Accpeted</td>
            <td>Approved</td>
            <td> <a href="../edit-staff/{{i.account_id}}">Edit</a></td>

            <!--actual path-->
            <!--<td> <a href="http://127.0.01:8000/college-admin/edit-staff/{{i.account_id}}">Edit</a></td>-->
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}