{% extends './base.html' %}
{% load static %}

{% block title %}Admin - Student{% endblock %}
{% block bodyclass %}
    <body id="students-branch" onload="changeActive(this.id)">
{% endblock %}
{% block content %}

<div id="student-branch-title">
   <a>Student-Branch</a>
    </div>
<div class="student-branch-cards">
    {% for branch in branches %}
    <a href="{{ branch.code }}">
        <div class="card">
                <div class="student-branch-card-content">
                    <div class="image">
                        <img src="{% static 'result.png' %}" alt="course-image" style="width:100%">
                    </div>
                    <div class="branch-name">
                
                        <h4><b>{{ branch.branch_name }}</b></h4>
                       
                    </div>
                    
                </div>
        </div>
    </a>
    {% endfor %}
</div>
</div>

{% endblock %}