{% extends './base.html' %}
{% load static %}


{% block title %}Admin - Student{% endblock %}

{% block bodyclass %}
    <body id="students" onload="changeActive(this.id)">
{% endblock %}

{% block content %}
<div class="studentlabel">
    <p>Pending Students</p>
</div>
<!--<div class="searchstudent">

    <select name="Branch" class=branch>
        <option value="-1" selected>Branch</option>
       <option value="ce">Computer Engineering</option>
       <option value="it">IT Engineering</option>
       <option value="me">Mechanical Engineering</option>
       <option value='civil'>Civil Engineering</option>
       <option value='bm'>Bio-Medical Engineering</option>
       <option value='auto'>Autommobile Engineering</option>
       <option value="el">Electrical Engineering</option>
   </select>
   <select name="sem" class=sem>
    <option value="-1" selected>Sem</option>
   <option value="I">I</option>
   <option value="II">II</option>
   <option value="III">III</option>
   <option value="III">IV</option>
   <option value="III">V</option>
   <option value="III">VI</option>
   <option value="III">VII</option>
   <option value="III">VIII</option>
</select>
<input type="submit" name="search" id="search" value="Search" >-->

</div>
<div class="newsearch">
    <input type="text" name="searchtext" id="searchtxt" placeholder="Search by Enrolment" onkeyup="searchrecords();">
    <!-- <input type="text" name="stdbranch" id="stdbranch" placeholder="Search by Branch" onkeyup="searchbranch();">
    <input type="text" name="stdsem" id="stdsem" placeholder="Search by Sem" onkeyup="searchsem();"> -->
    <input type="submit" name="pending" id="pending" value="Back" onclick="location.href='../'" >

    <!--actual path-->
    <!-- <input type="submit" name="pending" id="pending" value="Pending Accounts" onclick="location.href='http://127.0.0.1:8000/college-admin/student-account-pending-details'" >
    <input type="submit" name="approved" id="approved" value="Approved Accounts" onclick="location.href='http://127.0.0.1:8000/college-admin/student-account-approved-details'" >-->
</div>
<div class="datasection_student">
    <table id="student_list1" border="1">
        <tr>
            <th>Account_id</th>
            <th>Enrolment-No</th>
            <th>First-Name</th>
            <th>Middle-Name</th>
            <th>Last-Name</th>
            <th>Mobile</th>
            <th>Branch</th>
            <th>Sem</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Request</th>
            <th>Actions</th>
            <th>Edit</th>
        </tr>

    {% for i in student %}
        <tr>
            <td>{{i.account_id}}</td>
            <td>{{i.enrolment}} </td>
            <td>{{i.firstName}}</td>
            <td>{{i.middleName}} </td>
            <td>{{i.lastName}} </td>
            <td>{{i.mobile}}</td>
            <td>{{branch_name|get_item:i.enrolment}}</td>
            <td>{{i.sem}}</td>
            <td>{{i.email}}</td>
            <td>{{i.gender}}</td>
            <td>{{i.isPending}}</td>
            <td><a href="../approve-student/{{i.account_id}}">Approve</a></td>
            <td> <a href="../edit-student/{{i.account_id}}">Edit</a></td>

            <!--actual path-->
            <!--<td><a href="http://127.0.0.1:8000/college-admin/approve-student/{{i.account_id}}">Approve</a></td>
            <td> <a href="http://127.0.01:8000/college-admin/edit-student/{{i.account_id}}">Edit</a></td>-->
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}
