<a href="#logout">Logout</a>
<a href="{{'/students/profile/'}}" class="navbar-item" id="item-profile">Profile</a>
<a href="#staff">Attendance</a>
<a href="{{ '/students/results/'}}" class="navbar-item" id="item-results">Results</a>
<a href="#Courses">Courses</a>
<a href="{{ '/students/home/'}}" class="navbar-itme">Home</a>


<!-- <a href=#logout>Logout</a>
<a href="{{ '/staff/profile/' }}" class="navbar-profile" id="item-profile">Profile</a>
<a href="{{ '/staff/attendance/' }}" class="navbar-item" id="item-attendance">Attendance</a>
<a href="{{ '/staff/results/' }}" class="navbar-item" id="item-results">Results</a>
<a href="{{ '/staff/courses/' }}" class="navbar-item" id="item-courses">Courses</a>
<a href="{{ '/staff/home/' }}" class="navbar-item" id="item-home">Home</a> -->