{% load static %}
<html>
    <head>
        <title>Staff</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}"/>
    </head>
    <body>
        <div class="header">
            <a href="{{ '../home' }}"><img src="{% static 'ganpat_logo.png' %}" alt="My image" class="top-logo"></a>
            <div class="navbar">
                {% include './navbar.html' %}
            </div>
        </div>
        
        <div class='main'>
            <div class="content">
                {% block content %}
                    content here
                {% endblock %}
                
            </div>
            </div>
        </br>
        <div class="footer">
            <p>
                Purvesh Gandhi & Ronak Kanthariya
            </p>
        </div>
    </body>
</html>