{% extends './base.html' %}
{% load static %}

{% block title %}Create Assignment{% endblock %}

{% block body %}
    <body id="courses" onload="changeActive(this.id)">
{% endblock %}

{% block content %}
<div class ="form">
    <h2>Create Assignment</h2>
    <hr>
<form method="POST" enctype="multipart/form-data"> {% csrf_token %}
    <table>
        {% for field in form %}
        <tr>
        <td class="label" style="vertical-align: top;">
            {{ field.label }}
        </td>
        <td class="field" style="vertical-align: top;">
            {{ field }}
            <p> {{ field.errors }} </p>
        </td>
    </tr>

        {% endfor %}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Create"/>
            </td>
        </tr>
    </table>
</div>
</form>
</br>
{% endblock %} 