{% extends './base.html' %}
{% load static %}

{% block title %}Staff- Doubt_Answer{% endblock %}

{% block body %}
    <body id="courses" onload="changeActive(this.id)">
{% endblock %}

{% block content %}
<div class ="doubtform">
    <h2>Answer</h2>
<form  method="POST" > {% csrf_token %}
    <table class="doubt_list1" >
        {% for field in doubtform1 %}
        <tr>
        <td class="doubt_label" style="vertical-align: top;">
            {{ field.label }}
        </td>
        <td class="doubt_field" style="vertical-align: top;">
            {{ field }}
            <p> {{ field.errors }} </p>
            </td>
    </tr>

        {% endfor %}
    </table>
                <input type="submit" value="Answer" />
           
                <input type="button" value="Cancel"  onclick="location.href='../'"/>
            
                     
</div>

</form>

</br>



{%endblock%}