{% extends './base.html' %}

{% block body %}
    <body id="attendance" onload="changeActive(this.id)">
{% endblock %}

{% block content %}
<div id='wrapper'>
    <div id="mySidenav" class="sidenav">
        <div id="sidebar-title">Your Courses</div>
        {% if courses %}
            {% for sem,courseList in courses.items %}
                <div id="courses-item">
                    <ul id="sem">
                        <div id="sem-head">Semester {{ sem }}</div>
                        <ul id="course">
                            {% for course in courseList %}
                                <a href="/staff/attendance/{{ course.0 }}"><li>{{ course.1 }}</li></a>
                            {% endfor %}
                        </ul>
                    </ul>
                </div>
            {% endfor %}
        {% else %}
            <div id="empty-list">
                No Courses...
            </div>
        {% endif %}
    </div>
    <div id="content">
        {% if exists_error == 1%}
                <div class='error' id='bar'>
                      <div id="left">
                        Attendance for selected date already exists.
                      </div>
                      <div id="right">
                        <a href="#" onclick="Hide(bar);">X</a>
                      </div>
                </div>
        {% endif %}
        <form method="POST"> {% csrf_token %}
            <div id="attendance-form">
                Date:
                <input type="date" name="date" class="datefield" id="attendance-date" value='{{ date|date:"Y-m-d" }}' />
            </div>
            <table border="1" id="attendance-table">
                <tr>
                    <th>Enrolment No</th>
                    <th>Name</th>
                    <th>Present</th>
                    <th>Absent</th>
                </tr>
                {% for student in students %}
                <tr>
                    <td>{{ student.enrolment }}</td>
                    <td>{{ student.firstName }} {{ student.lastName }}</td>
                    <td><input type='radio' value="P" name="{{ student.enrolment }}" checked/></td>
                    <td><input type='radio' value="A" name="{{ student.enrolment }}" /></td>
                </tr>
                {% endfor %}
            </table>
            <div id="attendance-form">
                <input type="submit" value="Submit" id='attendance-sub'/>
            </div>
            
        </form>
    </div>
    {% endblock %}