{% extends './base.html' %}
{% load static %}

{% block title %}Staff-Home{% endblock %}

{% block body %}
    <body id="home" onload="changeActive(this.id)">
{% endblock %}

{% block content %}

<div id="welcome-msg">
    <div id="welcome-content">
        <div id="welcome-user">
            <h2>Welcome, {{ request.user.first_name }}</h2>
        </div>
        <div id="timestamp">
            {{ timestamp }}
        </div>
    </div>
</div>
<div class="staff-notification">
    <div id="head_notify">
        <h3>Notifications</h3>
    </div>
    <table id="staff_notification_list">
    
        {%if doubts %}
        <tr>
            <td>Student Doubt ({{doubts}})<button id="remove" onclick="document.getElementById('staff_notification_list').deleteRow(0)">X</button> </td>
        </tr>
      
        {%else%}
        <tr>
            <td>No Notification</td>
        </tr>
        {%endif%}
    </table>
</div>

<div class="staff-announcements">
    <div id="head">
        <h3>Announcements <input type="button" value="Manage Announcements" onclick="location.href='../announcement/'" /></h3>
    </div>
    <table id="staff_announcement_list">
        {% for i in announcement_data %}
        <tr>
            <td>
                <div id="announcement-content">
                    <span><b>{{i.title}}:</b> </span><span>{{i.date}}</span>
                </div>
            </br>
            {{i.description}}<i>&nbsp&nbsp&nbsp</i></td>
        </tr>
        
        {% endfor %}
    </table>
</div>
{% endblock %}