/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    color:red;
}
.studentlabel p{
    font-size: 30px;
    color: blue;
    margin-top: 0ch;
    margin-left: 1ch;
}

.stafflabel p{
    font-size: 30px;
    color: blue;
    margin-top: 0ch;
    margin-left: 1ch;
}

body{
    margin: auto;
    color: black;
    background-color: rgb(247, 244, 241);
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    position: fixed; 
    top: 0;
    width: 100%;
    box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.45);
}

.navbar{
    float: right;
    display: block;
}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: rgb(21, 16, 87);
    text-align: center;
    height: auto;
    font-size: larger;
    margin-top: 25px;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
  transition: 0.3s;
}

.top-logo {
    width: 120px;
    height: auto;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 25px;
}

.navbar a.active {
    color: white;
    background-color: rgb(19, 15, 235);
}

#welcome-msg {
    width: auto;
    margin: 2px 1% 5px 2%;
}

#welcome-msg #welcome-content{
    display: flex;
    width: auto;
    background-color: white;
    margin-top: 1%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.30);
    justify-content: space-between;
}

#welcome-msg #welcome-user{
    display: flex;
    margin-left: 2%;
}

#welcome-msg #timestamp{
    display: flex;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2%;
    
}

.navbar a.active:hover {
    color: white;  
    background-color: rgb(12, 10, 102);
}

.main {
  margin-top: 50px; 
  padding-top: 2%;
}
  
input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Admin Courses */
#courses {
    padding-right: 1%;
}

#title {
    width: auto;
    /* margin: 2px 1% 5px 2%; */
    background-color: white;
    /* margin-top: 3%; */
    margin: 1% 1% 0px 1%;
    width:98%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    padding: 3px 3px 3px 10px;
    font-size: 30px;
    color: blue;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.30);
}

#courses-content {
    background-color: white;
    margin: 10px 1% 2% 1%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    height: min-content;
    float: left;
    width: 98.5%;
    padding: 3px 0px 3px 3px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.30);
}

#content-title {
    padding: 3px 15px 3px 10px;
    font-size: 30px;
    display:flex;
    justify-content: space-between;
    color: blue;
}

#white-button{
    border-radius: 4px;
    background-color: white;
    border: none;
    color: rgb(19, 15, 235);
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    min-width: 7%;
    height: auto;
    border: 1px solid rgb(19, 15, 235);
    cursor: pointer;
    margin: 5px;
}


#white-button:hover {
    background-color: rgb(19, 15, 235);
    color: white;
    transition: 0.3s;
}

#content-title #add-branch:active{
    background-color: white;
}
#courses-content a {
    text-decoration: none;
    color: black;
    height: max-content;
}

.course-cards {
    margin: auto;
    width: 100%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 23%;
    float: left;
    height: 50%;
    text-overflow: ellipsis;
    background-color: white;
    padding-bottom: 5px;
    margin: 5px 5px 10px 10px;
  }
  
  .card h4 {
      text-align: center;
  }

  .card p {
    margin: auto;
    margin-left: 5%;
    text-align: left;
    color: rgb(95, 95, 95);
  }

  .card desc {
    padding-right: 10px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }



/*for student
.searchstudent input[type=text]{
    width:18%;
    display: inline;
    margin-left:1%;
    font-size: 16px;
    padding:10px 20px;
}
.searchstudent select{
    width: 18%;
    font-size: 16px;
    height: 5.5%;
    display: inline-block;
}
.searchstudent input[type=submit]{
    width:10%;
    display: inline-block;
    font-size:16px;
    text-align: center;
    height: 6%;
    background-color:white;
    
}*/

/* for staff */
.searchstaff input[type=text]{
    width:18%;
    display: inline;
    margin-left:1%;
    font-size: 16px;
    padding:10px 20px;
}
.searchstaff select{
    width: 18%;
    font-size: 16px;
    height: 5.5%;
    display: inline-block;
}
.searchstaff input[type=submit]{
    width:10%;
    display: inline-block;
    font-size:16px;
    text-align: center;
    height: 6%;
    background-color:white;
    
}

/* new for student*/
#searchtxt{
    width:15%;
    margin-left: 15px;
}  
#stdbranch{
    width: 15%;
    display: inline-block;
}
#stdsem{
    width:15%;
    display: inline-block;
}

/* for student page*/
.newsearch input:hover{
    background: #ddd;
    color: black;
}
.newsearch input:focus{
        background-color: rgb(241, 241, 241);
    }

    /* for staff page*/
.newstaffsearch input:hover{
    background: #ddd;
    color: black;
}
.newstaffsearch input:focus{
        background-color: rgb(241, 241, 241);
    }     
#staffsearch{
        width:15%;
        margin-left: 15px;
    } 
#pending{
    width:14%;
    display: inline-block;
    font-size:16px;
    text-align: center;
    height: 6%;
    background-color:white;
    margin-left: 12px;

}
#pending:hover{
    background: #ddd;
    color: black;
}
#approved{
    width:14%;
    display: inline-block;
    font-size:16px;
    text-align: center;
    height: 6%;
    background-color:white;
    margin-left: 12px;
}
#approved:hover{
    background: #ddd;
    color: black;
}

/*for staff*/
.searchstaff input:hover{
    background: #ddd;
    color: black;
}
.searchstaff input:focus{
        background-color: rgb(241, 241, 241);
    }
    
input:hover {
    background: #ddd;
    color: black;
}

input:focus {
    background-color: rgb(241, 241, 241);
}

.login-form{
    padding-top: 50px;
}

#btn{
    border-radius: 4px;
    background-color: rgb(19, 15, 235);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    width: 45%;
    height: auto;
    cursor: pointer;
    margin: 5px;
  }

#btn:hover {
    background-color:  rgb(12, 10, 102);
}

#btn:active{
    background-color: rgb(19, 15, 235);
}

p {
    text-align: start;
    margin: 8px 45px 0px;
}

label{
    float: left;
    padding-left: 10%;
}

.announcements {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    border-width: 1px;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
    text-align: l;
    width: auto;
    overflow: hidden;
    min-height: 700px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.30);
}
.notification {
    float: left;
    border: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    margin-left: 2%;
    margin-right: 1%;
    width: 22.5%;
    box-sizing: border-box;
    padding-bottom: 20px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.30);
}

/* for student*/

.datasection_student{
    background-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255);
    width: auto;
    overflow: hidden;
    min-height: 655px;
    padding-bottom: 20px;
    margin-left: 15px;
    margin-right: 1%;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.30);
}
#student_list1{
    width: 100%;
}
#student_list1 tr td{
   text-align: center;
}
#student_list2{
    width: 100%;
}
#student_list2 tr td{
    padding: 15px 5px 5px 5px;
    border-bottom: 1px solid black;
}

/*for staff*/
.datasection_staff{
    background-color: rgb(255, 255, 255);;
    border: rgb(255, 255, 255);
    width: auto;
    overflow: hidden;
    min-height: 655px;
    padding-bottom: 20px;
    height: auto;
    margin-left: 15px;
    margin-right: 1%;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.30);
}

#staff_list1{
    width: 100%;
}
#staff_list1 tr td{
    text-align: center;
}
#staff_list2{
    width: 100%;
}
#staff_list2 tr td{ 
    padding: 15px 5px 5px 5px;
    border-bottom: 1px solid black;
}
h3 {
    margin-left: 25px;
    position: static;

}

#head {
    text-align: left;
    border-bottom: 2px solid;
}

#table_list{
    width: 100%;
}
#table_list tr td {
    padding: 15px 5px 5px 5px;
    width: 100%;
    border-bottom: 1px solid black;
}

#table_list tr td:hover{
    background-color: #ddd;
}

.footer {
    width: 100%;
    float: right;
    margin-top: 50px;
    margin-bottom: 30px;
    border-top: 1px solid;
    color: rgb(202, 189, 189);
}

.footer p {
    text-align: center;
}
input[type=button]{
    width:20%;
    margin-left:650px;
}

/* Admin_profile*/
.Admin_profile{
    border: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-style: solid;
    min-height: 520px;
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 20px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.30);
}
#adminprofile {
   width: 80%;
   margin-left: 60px;
   margin-top: 30px;
   table-layout:fixed;
}
#adminprofile tr td  {
    text-align: left;
    font-size: 18px;
    height: 55px;
    width: 40%;
}
.profile_btn input[type=button]{
  background-color: blue;
  color: white;
  width:27%;
  margin:5 auto;
  margin-left: 5%;
  position: relative;
  font-size: 18px;
  display:inline-block
  
}
.profile_btn a{
    display: block;
    width: 115px;
    height: 25px;
    background: blue;
    padding: 10px;
    display: inline;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

/* Student eidt css*/
.student-edit{
    text-align: center;
    background-color: white;
    margin: auto;
    width: 20%t;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px rgb(255, 255, 255);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: auto;
    box-shadow: 0px 0px 5px 0px rgba(58, 57, 57, 0.3);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.student-edit h2{
font-size: 30px;
text-align: center;
margin-top: 2%;
}

.student-edit[type=text]{
        width: 80%;
        padding: 6px 10px;
        margin: 8px 0;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        -ms-box-sizing:content-box;
        -moz-box-sizing:content-box;
        -webkit-box-sizing:content-box; 
        box-sizing:content-box;
        font-family: Arial, Helvetica, sans-serif;
    
}
.student-editlist tr td{
   width:75%;
}
.student-editlist th{
    margin-top: 15%;
    font-size: 18px;
    display: inline-block;
}

.student-edit [type=submit]{
border-radius: 4px;
background-color: rgb(19, 15, 235);
border: none;
color: #FFFFFF;
text-align: center;
font-size: 18px;
padding: 15px;
width: 30%;
height: auto;
cursor: pointer;
margin: 5px;
}
.student-edit [type=button]{
    border-radius: 4px;
    background-color: rgb(19, 15, 235);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 30%;
    height: auto;
    cursor: pointer;
    margin: 5px;
    }

/*studet -approve css*/

.student-approve{
    text-align: center;
    background-color: white;
    margin: auto;
    width: 20%t;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px rgb(255, 255, 255);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: auto;
    box-shadow: 0px 0px 5px 0px rgba(58, 57, 57, 0.3);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.student-approve h2{
font-size: 30px;
text-align: center;
margin-top: 2%;
}

.student-approve[type=text]{
        width: 80%;
        padding: 6px 10px;
        margin: 8px 0;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        -ms-box-sizing:content-box;
        -moz-box-sizing:content-box;
        -webkit-box-sizing:content-box; 
        box-sizing:content-box;
        font-family: Arial, Helvetica, sans-serif;
    
}
.student-approvelist tr td{
   width:75%;
}
.student-approvelist th{
    margin-top: 15%;
    font-size: 18px;
    display: inline-block;
}

.student-approve [type=submit]{
border-radius: 4px;
background-color: rgb(19, 15, 235);
border: none;
color: #FFFFFF;
text-align: center;
font-size: 18px;
padding: 15px;
width: 30%;
height: auto;
cursor: pointer;
margin: 5px;
}
.student-approve [type=button]{
    border-radius: 4px;
    background-color: rgb(19, 15, 235);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 30%;
    height: auto;
    cursor: pointer;
    margin: 5px;
    }

/* staff edit css*/    

.staff-edit{
    text-align: center;
    background-color: white;
    margin: auto;
    width: 20%t;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px rgb(255, 255, 255);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: auto;
    box-shadow: 0px 0px 5px 0px rgba(58, 57, 57, 0.3);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.staff-edit h2{
font-size: 30px;
text-align: center;
margin-top: 2%;
}

.staff-edit[type=text]{
        width: 80%;
        padding: 6px 10px;
        margin: 8px 0;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        -ms-box-sizing:content-box;
        -moz-box-sizing:content-box;
        -webkit-box-sizing:content-box; 
        box-sizing:content-box;
        font-family: Arial, Helvetica, sans-serif;
    
}
.staff-editlist tr td{
   width:75%;
}
.staff-editlist th{
    margin-top: 15%;
    font-size: 18px;
    display: inline-block;
}

.staff-edit [type=submit]{
border-radius: 4px;
background-color: rgb(19, 15, 235);
border: none;
color: #FFFFFF;
text-align: center;
font-size: 18px;
padding: 15px;
width: 30%;
height: auto;
cursor: pointer;
margin: 5px;
}
.staff-edit [type=button]{
    border-radius: 4px;
    background-color: rgb(19, 15, 235);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 30%;
    height: auto;
    cursor: pointer;
    margin: 5px;
    }

/* staff approve*/

.staff-approve{
    text-align: center;
    background-color: white;
    margin: auto;
    width: 20%t;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px rgb(255, 255, 255);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: auto;
    box-shadow: 0px 0px 5px 0px rgba(58, 57, 57, 0.3);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.staff-approve h2{
font-size: 30px;
text-align: center;
margin-top: 2%;
}

.staff-approve[type=text]{
        width: 80%;
        padding: 6px 10px;
        margin: 8px 0;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        -ms-box-sizing:content-box;
        -moz-box-sizing:content-box;
        -webkit-box-sizing:content-box; 
        box-sizing:content-box;
        font-family: Arial, Helvetica, sans-serif;
    
}
.staff-approvelist tr td{
   width:75%;
}
.staff-approvelist th{
    margin-top: 15%;
    font-size: 18px;
    display: inline-block;
}

.staff-approve [type=submit]{
border-radius: 4px;
background-color: rgb(19, 15, 235);
border: none;
color: #FFFFFF;
text-align: center;
font-size: 18px;
padding: 15px;
width: 30%;
height: auto;
cursor: pointer;
margin: 5px;
}
.staff-approve [type=button]{
    border-radius: 4px;
    background-color: rgb(19, 15, 235);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 30%;
    height: auto;
    cursor: pointer;
    margin: 5px;
    }

/* profile edit css */    

.profile-edit{
    text-align: center;
    background-color: white;
    margin: auto;
    width: 20%t;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px rgb(255, 255, 255);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: auto;
    box-shadow: 0px 0px 5px 0px rgba(58, 57, 57, 0.3);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-edit h2{
font-size: 30px;
text-align: center;
margin-top: 2%;
}

.profile-edit[type=text]{
        width: 80%;
        padding: 6px 10px;
        margin: 8px 0;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        -ms-box-sizing:content-box;
        -moz-box-sizing:content-box;
        -webkit-box-sizing:content-box; 
        box-sizing:content-box;
        font-family: Arial, Helvetica, sans-serif;
    
}
.admin-profilelist tr td{
   width:75%;
}
.admin-profilelist th{
    margin-top: 15%;
    font-size: 18px;
    display: inline-block;
}

.profile-edit [type=submit]{
border-radius: 4px;
background-color: rgb(19, 15, 235);
border: none;
color: #FFFFFF;
text-align: center;
font-size: 18px;
padding: 15px;
width: 30%;
height: auto;
cursor: pointer;
margin: 5px;
}
.profile-edit [type=button]{
    border-radius: 4px;
    background-color: rgb(19, 15, 235);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 30%;
    height: auto;
    cursor: pointer;
    margin: 5px;
    }



/* CSS for Add Branch Form */
.form {
    text-align: center;
    background-color: white;
    margin: auto;
    width: max-content;
    margin-top: 3%;
    border: 1px rgb(255, 255, 255);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: auto;
    box-shadow: 0px 0px 5px 0px rgba(58, 57, 57, 0.3);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.form input[class='text']{
    width: 80%;
    padding: 6px 10px;
    margin: 8px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
    font-family: Arial, Helvetica, sans-serif;
}

.form input:hover {
    background: #ddd;
    color: black;
}

.form input:focus {
    background-color: rgb(241, 241, 241);
}

.label{
    text-align: left;
    padding-top: 4%;
}

.field {
    float:right;
    width: 100%;
    box-sizing:content-box;
}

.field .errorlist{
    list-style: symbols('*');
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: red;
    text-decoration:none;
}
.form input[type=submit],.form input[type=button],#add-faculty-button{
    border-radius: 4px;
    background-color: rgb(19, 15, 235);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    width: 80%;
    height: auto;
    cursor: pointer;
    margin: 5px;
}

#add-faculty-button{
    padding: 10px;
    width: 100px;
}
.form input[type=button]{
    margin-top: 5px;
}

.form textarea {
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
  }
.form input[type=submit]:hover ,.form input[type=button]:hover, #add-faculty-button:hover{
    background-color:  rgb(12, 10, 102);
}

.form input[type=submit]:active, .form input[type=button]:active{
    background-color: rgb(19, 15, 235);
}

.form .choice1, .choice1{
    font-size: 16px;
    width: 80%;
    padding: 6px 10px;
    margin: 8px 0;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
}
.choice1{
    min-width: 15%;
    width: max-content;
}

.courses-info {
    /* margin: 2px 1% 5px 2%; */
    background-color: white;
    /* margin-top: 3%; */
    margin: 1% 1% 1% 1%;
    width:97%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    padding: 3px 3px 3px 10px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.30);
}

.courses-title {
    font-size: 30px;
    color: blue;
    display: flex;
    justify-content: space-between;
}

.courses-description {
    margin: 1% 0% 1% 1%;
    color: rgb(95, 95, 95);
    width: 80%;
}

#person-details:not(:first-child){
    margin-top: 5px;
}

.person-description {
    color: rgb(95, 95, 95);
}

#courses-table {
    padding: 10px;
} 

#courses-info table {
    margin: 0;
    padding: 0;
    border: 0;
    border-spacing:0px;
    border-collapse: collapse;
    width: 100%;
}

#courses-table th, td {
    text-align: left;
    padding: 8px;
}

#courses-table tr:nth-child(even){
    background-color: #f2f2f2;
}

#courses-table tr {
    background-color: rgb(218, 218, 218);
}

#courses-table th {
    background-color: rgb(19, 15, 235);
    color: white;
}
