* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color:red;
}

body{
    margin: auto;
    color: black;
    background-attachment: fixed;
    background-color: #e6ecf7;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

.header {
    overflow: hidden;
    background: rgb(0,73,255);
    background: linear-gradient(180deg, rgb(138, 170, 250) 0%, rgb(220, 225, 241) 100%);
    display: inline-block;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    box-shadow: 2px 5px 14px 2px rgba(134, 134, 134, 0.534);
}

.navbar{
    float: right;
    display: block;
}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: rgb(21, 16, 87);
    text-align: center;
    height: auto;
    font-size: larger;
    margin-top: 25px;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.top-logo {
    width: 120px;
    height: auto;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 25px;
}

.navbar a.active {
    color: white;
    background-color: rgb(19, 15, 235);
}

.navbar a.active:hover {
    color: white;  
    background-color: rgb(12, 10, 102);
}


.main {
  margin-top: 90px; 
  align-content: center;
  padding-top: 2%;
}

.login {
    float: left;
    border: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    margin-left: 35px;
    margin-right: 1%;
    text-align: center;
    width: 22.5%;
    box-sizing: border-box;
    padding-bottom: 20px;
    box-shadow: 0px 0px 5px 0px rgba(92, 132, 235, 0.45);
}

input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input:hover {
    background: #ddd;
    color: black;
}

input:focus {
    background-color: rgb(241, 241, 241);
    border: 1px solid rgba(81, 203, 238, 1);
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.login-form{
    padding-top: 50px;
}

.field .errorlist{
    list-style: symbols('*');
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: red;
    text-decoration:none;
}

#btn{
    border-radius: 4px;
    background-color: rgb(19, 15, 235);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    width: 45%;
    height: auto;
    cursor: pointer;
    margin: 5px;
    
  }

#btn:hover {
    background-color:  rgb(12, 10, 102);
}

#btn:active{
    background-color: rgb(19, 15, 235);
}

p {
    text-align: start;
    margin: 8px 45px 0px;
}

label{
    float: left;
    padding-left: 10%;
}

.announcements {
    border: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    height: auto;
    margin-left: 1%;
    margin-right: 1%;
    text-align: l;
    width: auto;
    overflow: hidden;
    min-height: 700px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.30);
}

.announcements h3 {
    margin-left: 30px;
    position: static;

}

#head {
    border-bottom: 2px solid;
}

#announcements_table{
    width: 100%;
}
#announcements_table tr td {
    padding: 15px 5px 5px 5px;
    width: 100%;
    border-bottom: 1px solid black;
}

#announcements_table tr td:hover{
    background-color: #ddd;
}

.footer {
    width: 100%;
    background-color: #c3d5f5;
    float: right;
    margin-top: 50%;
    padding-bottom: 30px;
    bottom: 10;
    border-top: 1px solid #c3d5f5;
    color: rgb(153, 144, 144);
}

.footer p {
    text-align: center;
}


/*staff */

#welcome-msg {
    width: auto;
    margin: 2px 1% 5px 2%;
}


#welcome-msg #welcome-content{
    display: flex;
    width: auto;
    background-color: white;
    margin-top: 1%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.30);
    justify-content: space-between;
}

#welcome-msg #welcome-user{
    display: flex;
    margin-left: 2%;
}

#welcome-msg #timestamp{
    display: flex;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2%;
    
}

input[type=button] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 16px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 60%;
}

.staff-announcements{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    border-width: 1px;
    height: auto;
    margin-left: 2%;
    margin-right: 1%;
    text-align: l;
    width: auto;
    overflow: hidden;
    min-height: 700px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.30);

}
.staff-announcements h3{
    margin-left: 2%;
}
.staff-notification h3{
    margin-left: 2%;
}
#staff_announcement_list{
    width: 100%;
}
#staff_announcement_list tr td {
    padding: 15px 5px 5px 5px;
    width: 100%;
    border-bottom: 1px solid black;
}

#satff_announcement_list tr td:hover{
    background-color: #ddd;
}


#staff_notification_list{
    width: 100%;
}
#staff_notification_list tr td {
    padding: 15px 5px 5px 5px;
    width: 100%;
    border-bottom: 1px solid black;
}

#satff_notification_list tr td:hover{
    background-color: #ddd;
}

.staff-notification{
    float: left;
    border: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    margin-left: 2%;
    margin-right: 1%;
    width: 22.5%;
    box-sizing: border-box;
    padding-bottom: 20px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.30);
}

/*staff announcement*/


/*staff results*/
#results {
    padding-right: 1%;
}

#title {
    width: auto;
    background-color: white;
    /* margin-top: 3%; */
    margin: 1% 1% 0px 1%;
    width:98%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    padding: 3px 3px 3px 10px;
    font-size: 30px;
    color: blue;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.30);
}

#result-title {
    padding: 3px 15px 3px 10px;
    font-size: 30px;
    display:flex;
    justify-content: space-between;
    color: blue;
}
#results-content {
    background-color: white;
    margin: 10px 1% 2% 1%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    height: min-content;
    float: left;
    width: 98.5%;
    padding: 3px 0px 3px 3px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.30);
}

#results-content a {
    text-decoration: none;
    color: black;
    height: max-content;
}

.result-cards {
    margin: auto;
    width: 100%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 23%;
    float: left;
    height: 50%;
    text-overflow: ellipsis;
    background-color: white;
    padding-bottom: 5px;
    margin: 5px 5px 10px 10px;
  }
  
  .card h4 {
      text-align: center;
  }

  .card p {
    margin: auto;
    margin-left: 5%;
    text-align: left;
    color: rgb(95, 95, 95);
  }

  .card desc {
    padding-right: 10px;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.sem{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    height: auto;
    width: auto;
}
.sem button{
    width: 25%;
    display: block;
    margin-left: 40%;
    margin-right: 20%;
    border-radius: 4px;
    background-color: rgb(252, 252, 252);
    color: #5c05ff;
    text-align: center;
    font-size: 130%;
    padding: 15px;
    height: auto;
    cursor: pointer;
    margin-top: 2%;
   

}
.student_result{
    background-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255);
    width: auto;
    overflow: hidden;
    min-height: 655px;
    padding-bottom: 20px;
    margin-left: 15px;
    margin-right: 1%;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.30);
}
#student_result_list{
    width: 100%;
    border-collapse: collapse;
   
}
#student_result_list tr td{
   text-align: center;
   padding: 15px 5px 5px 5px;
   border-style: 1px solid; 
   
}

.result_branch{
    font-size: 25px;
    color: blue;
    
}

.student-result{
    text-align: center;
    background-color: white;
    margin: auto;
    width: 20%t;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px rgb(255, 255, 255);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: auto;
    box-shadow: 0px 0px 5px 0px rgba(58, 57, 57, 0.3);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
.student-result input[type=submit]{
    display: inline-block;
    background-color: blue;
    width:25%;
    color: white;
    margin-top: 5%;
    margin-left: 2%;
    
}
.student-result input[type=button]{
    background-color: blue;
    color: white;
    width: 25%;
    margin-left: 2%;
}
.student-result tr td{
width: 50%;
font-weight: bold;
}

/*student internals result*/
#searchtxt{
    width:16%;
    display: inline-block;
    font-size:16px;
    text-align: center;
    height: 6%;
    background-color:white;
    margin-left: 14px;
}
#Internal-1{
    width:16%;
    display: inline-block;
    font-size:16px;
    text-align: center;
    height: 6%;
    background-color:white;
    margin-left: 14px;
}
#Internal-1:hover{
    background: #ddd;
    color: black;
}
#Internal-2{
    width:16%;
    display: inline-block;
    font-size:16px;
    text-align: center;
    height: 6%;
    background-color:white;
    margin-left: 14px;
}
#Internal-2:hover{
    background: #ddd;
    color: black;
}
#Internal-40{
    width:16%;
    display: inline-block;
    font-size:16px;
    text-align: center;
    height: 6%;
    background-color:white;
    margin-left: 14px;

}
#Internal-40:hover{
    background: #ddd;
    color: black;
}

/*edit student result*/
.result-edit{
    text-align: center;
    background-color: white;
    margin: auto;
    width: 20%t;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px rgb(255, 255, 255);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: auto;
    box-shadow: 0px 0px 5px 0px rgba(58, 57, 57, 0.3);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.result-edit input[type=submit]{
    display: inline-block;
    background-color: blue;
    width:25%;
    color: white;
    margin-top: 5%;
    margin-left: 2%;
    
}
.result-edit input[type=button]{
    background-color: blue;
    color: white;
    width: 25%;
    margin-left: 2%;
}
.result-edit tr td{
    font-weight: bold;
    width: 65%;
    }

.result-edit th{
    text-align: left;
}