.register {
    text-align: center;
    background-color: #F7F8FC;
    margin: auto;
    margin-top: 10%;
    border-radius: 3px;
    width: max-content;
    margin-bottom: 5%;
    border: 1px rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.30);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:rgb(19, 15, 235);
    border-bottom: 1px rgb(202, 189, 189);
}

.register-message {
    border-top: 1px rgb(207, 0, 0);
    padding: 0px 50px 20px 50px;
}

.register p {
    font-size: 22px; 
}

.register input[type=button]{
    border-radius: 4px;
    background-color: #070599;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    width: 45%;
    height: auto;
    cursor: pointer;
    margin: 5px;
}

.register input[type=button]:hover {
    background-color:  rgb(12, 10, 102);
}

.register input[type=button]:active{
    background-color: #070599;
}

#login-redirect{
    width: 30%;
}

.footer {
    width: 100%;
    background-color: #F7F7F7;
    float: right;
    margin-top: 10%;
    padding-bottom: 30px;
    bottom: 10;
    color: rgb(153, 144, 144);
}

.footer p {
    text-align: center;
    margin-top: 15px;
}