body{
    margin: 0;
    background-color: rgb(247, 244, 241);
}

.datefield {
    width: 80%;
    padding: 6px 10px;
    margin: 8px 0;
    font-size: 16px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
}

.header {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    position: static; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    box-shadow: 0px 5px 14px 0px rgba(0,0,0,0.45);
}

.top-logo {
    width: 120px;
    height: auto;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 25px;
}

.choice1{
    font-size: 16px;
    width: 80%;
    padding: 6px 10px;
    margin: 8px 0;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
}
.choice2{
    width: 80%;
    padding: 6px 10px;
    margin: 8px 0;
    height:35px;
    font-size: 16px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
}
.choice3{
    width: 80%;
    padding: 6px 10px;
    margin: 8px 0;
    height:35px;
    font-size: 16px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
}
.choice4{
    width: 80%;
    padding: 6px 10px;
    margin: 8px 0;
    height:35px;
    font-size: 16px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
}
.head{
    text-align: center;
    font-size: 15px;
}
.body{
    overflow:auto;
}

.form {
    text-align: center;
    background-color: white;
    margin: auto;
    width: max-content;
    margin-top: 3%;
    border: 1px rgb(255, 255, 255);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: auto;
    box-shadow: 0px 0px 5px 0px rgba(58, 57, 57, 0.3);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.form input[class='text']{
    width: 80%;
    padding: 6px 10px;
    margin: 8px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
    font-family: Arial, Helvetica, sans-serif;
}

.form input:hover {
    background: #ddd;
    color: black;
}

.form input:focus {
    background-color: rgb(241, 241, 241);
}

.label{
    text-align: left;
    padding-top: 4%;
}

.field {
    float:right;
    width: 100%;
    box-sizing:content-box;
}

.field .errorlist{
    list-style: symbols('*');
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: red;
    text-decoration:none;
}
.form input[type=submit]{
    border-radius: 4px;
    background-color: rgb(19, 15, 235);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    width: 80%;
    height: auto;
    cursor: pointer;
    margin: 5px;
}

.form input[type=submit]:hover {
    background-color:  rgb(12, 10, 102);
}

.form input[type=submit]:active{
    background-color: rgb(19, 15, 235);
}


.footer {
    float:inline-end;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    font-size:18x;
    color: black;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 15px;
    border-top: 1px solid;
    color: rgb(34, 33, 33);
}

.footer hr {
    color:black;
    background-color:black;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    text-align: center;
}

.register {
    text-align: center;
    background-color: white;
    margin: auto;
    border-radius: 3px;
    width: auto;
    padding: 10px;
    border: 1px rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.30);
    font-family: Arial, Helvetica, sans-serif;
}


/* announcement */
.announcementform{
    text-align: center;
    background-color: white;
    margin: auto;
    width: max-content;
    margin-top: 3%;
    border: 1px rgb(255, 255, 255);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: auto;
    box-shadow: 0px 0px 5px 0px rgba(58, 57, 57, 0.3);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.announcementform input[type=submit]{
    border-radius: 4px;
    background-color: rgb(19, 15, 235);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 30%;
    height: auto;
    cursor: pointer;
    margin: 5px;
  
}
.announcementform input[type=button]{
    border-radius: 4px;
    background-color: rgb(19, 15, 235);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 30%;
    height: auto;
    cursor: pointer;
    margin: 5px;
}
.announcement_label{
   height: 10%;

}
.announcement_field{
    font-size: 18px;
   margin-left: 50%;
}

.announcement_section{
    background-color: rgb(255, 255, 255);;
    border: rgb(255, 255, 255);
    width: auto;
    overflow: hidden;
    min-height: 655px;
    padding-bottom: 20px;
    height: auto;
    margin-left: 15px;
    margin-right: 1%;
    border-radius: 3px;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.30);
}
.announcement_list1{
    font-size: 18px;
    margin-left: 10px;
}
.announcement_field{
    font-size: 18px;
}
#announcement_list2{
    width: 100%;
    font-size: 18px;
    border-collapse: collapse;
    border: 1px solid black;
}
#announcement_list2 tr td{
    text-align: center;
    
}
.allannouncement{
    margin-left: 2%;
}

.announcement-edit{
    text-align: center;
    background-color: white;
    margin: auto;
    width: 20%t;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px rgb(255, 255, 255);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: auto;
    box-shadow: 0px 0px 5px 0px rgba(58, 57, 57, 0.3);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
.announcement-editlist tr td{
    width:75%;
    font-size: 20px;
    
 }
 
 .announcement-editlist th{
     margin-top: 15%;
     font-size: 20px;
     display: inline-block;
 }
 .announcement-edit h2{
    font-size: 30px;
    text-align: center;
    margin-top: 2%;
    }
 .announcement-edit [type=text]{
    width: 80%;
    padding: 6px 10px;
    margin: 8px 0;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
    font-family: Arial, Helvetica, sans-serif;

}
 .announcement-edit [type=submit]{
    border-radius: 4px;
    background-color: rgb(19, 15, 235);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 30%;
    height: auto;
    cursor: pointer;
    margin: 5px;
    }
.announcement-edit [type=button]{
        border-radius: 4px;
        background-color: rgb(19, 15, 235);
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 18px;
        padding: 15px;
        width: 30%;
        height: auto;
        cursor: pointer;
        margin: 5px;
        }
.announcement_footer{
    width: 100%;
    background-color: rgb(247, 244, 241);
    float: right;
    margin-top: 35%;
    padding-bottom: 30px;
    bottom: 10;
    border-top: 1px solid;
    color: rgb(153, 144, 144);
}
.announcement_footer p {
    text-align: center;
}
