@import "landing.css"; 
@import "student.css";

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.header {
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.45);
}

.main{
    margin-top: 0;
    padding-left: 0;
    min-height: 100%;
    margin-bottom: 60px;
}

#wrapper {
    display: flex;
    /* height: 100%; */
    /* padding-bottom: 50px; */
}

#wrapper #sidebar-title{
    padding: 10px;
    color: blue;
    font-weight: bold;
    font-size: large;
    border-bottom: 1px solid rgb(148, 148, 148);
}

.selected {
    font-weight: bold;
    color: #2E0080;
}

#content {
    margin: 60px 10px 10px 10px;
    width: 100%;
    /* min-height: 95%; */
    min-height: 600px;
    height: max-content;
    padding-bottom: 10px;
    background: white;
    border: 1px solid rgb(221, 221, 221);;
}


#content-none {
    margin: 60px 10px 10px 10px;
    width: 100%;
    background: rgb(255, 255, 255);
    color: gray;
    border: 1px solid rgb(221, 221, 221);
    text-align: center;
}

.success {
    width: 95%;
    overflow: hidden;
    background-color: #D4EDDA;
    color: rgb(16, 156, 16);
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.success:hover{
    border:1px solid rgb(16, 156, 16);
}
.success a {
    color: rgb(16, 156, 16);
    text-decoration: none;
 }
 .success a:hover {
    text-decoration:underline;
 }

 #left {
    overflow: hidden;
    height: 20px;
    display: flex;
  }
  #right {
    width: 30px;
    display: flex;
    height: 20px;
  }

.error {
    width: 95%;
    overflow: hidden;
    background-color: #F8D7DA;
    color: red;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.error:hover{
    border:1px solid red;
}
.error a {
    color: red;
    text-decoration: none;
 }

 .error a:hover {
    text-decoration:underline;
 }

#content-none div{
    padding-top: 25%;
}

#welcome-msg {
    margin-top: 50;
}
.sidenav {
    background: rgb(255, 255, 255);
    width: 25%;
    /* height: auto; */
    margin-top: 50;
    /* height: 80%; */
    border-right : 1px solid rgb(221, 221, 221);
    border-bottom : 1px solid rgb(221, 221, 221);
}

.sidenav ul#sem{
    color: rgb(0, 0, 0);
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidenav #sem-head{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-top: 10px;
    text-indent: 10px;
    padding-bottom: 10px;
}

.sidenav ul#course{
    background-color: #F7F8FC;
    color: rgb(0, 0, 0);
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 20px;
}

.sidenav a {
    color: rgb(56, 56, 56);
    text-decoration: none;
}

.sidenav ul#course li:hover{
    background-color: #dbdad9;
    cursor: pointer;
}

#empty-list{
    color: gray;
    text-align: center;
    padding-top: 5%;
}

#empty-table{
    color: gray;
    text-align: center;
    padding: 20;
}
/* 
#courses-item {
} */

#course li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.course-title {
    padding: 10px 3px 3px 15px;
    font-size: 30px;
    color: blue;
    border-bottom : 1px solid rgb(221, 221, 221);
}

.btm-border {
    border-bottom : 1px solid rgb(221, 221, 221);
    display: flex;
    justify-content: space-between;
}
#course-description {
    color: rgb(95, 95, 95);
    width: 100%;
    min-height: 10%;
    padding: 10px 0px 10px 0px;
    border-bottom : 1px solid rgb(221, 221, 221);
}

#course-description-content {
    padding-left: 15px;
}

#course-sub-title {
    padding: 10px 3px 10px 15px;
    font-size: 25px;
    color: blue;
    display: flex;
    justify-content: space-between;
}

#white-button{
    border-radius: 4px;
    background-color: white;
    border: none;
    color: rgb(19, 15, 235);
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    min-width: 7%;
    height: auto;
    border: 1px solid rgb(19, 15, 235);
    cursor: pointer;
    margin: 5px;
}

#white-button:hover {
    background-color: #070599;
    color: white;
    transition: 0.3s;
}

.icon-button {
    color: black;
    margin-left: 5px;
}

#delete {
    color: rgb(207, 0, 0);
    border-radius: 4px;
    background-color: white;
    border: none;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    min-width: 7%;
    height: auto;
    cursor: pointer;
    border: 1px solid rgb(207, 0, 0);
    margin: 5px;
}


#delete:hover {
    background-color: red;
    color: white;
    transition: 0.3s;
}

#assignment table {
    margin: auto;
    border: 0;
    border-spacing:0px;
    border-collapse: collapse;
    width: 95%;
}

#assignment table th, td {
    text-align: left;
    padding: 8px;
}

#assignment table tr:nth-child(even){
    background-color: #F7F8FC;
}

#assignment table tr {
    background-color: rgb(218, 218, 218);
}

#assignment table th {
    background-color: #070599;
    color: white;
}

.table-btn{
    background-color: rgb(19, 15, 235);
    color: white;
    width: max-content;
    padding: 10px;
    border: 0;
    border-radius: 2px;
}

.table-btn:hover{
    background-color: rgb(12, 10, 102);
    transition: 0.3s;
}
.form {
    text-align: center;
    background-color: #F7F8FC;
    margin: auto;
    width: max-content;
    margin-top: 3%;
    border: 1px rgb(255, 255, 255);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: auto;
    box-shadow: 0px 0px 5px 0px rgba(58, 57, 57, 0.3);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.form input[class='text']{
    width: 80%;
    padding: 6px 10px;
    margin: 8px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
    font-family: Arial, Helvetica, sans-serif;
}

.form input:hover {
    background: #ddd;
    color: black;
}

.form input:focus {
    background-color: rgb(241, 241, 241);
}

.label{
    text-align: left;
    padding-top: 4%;
}

.form .desc-box {
    resize: none;
}

.form .file {
    border: none;
}

.form .file:hover{
    background: white;
}
.field {
    float:right;
    width: 100%;
    box-sizing:content-box;
}

.field .errorlist{
    list-style: symbols('*');
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: red;
    text-decoration:none;
}
.form input[type=submit]{
    border-radius: 4px;
    background-color: #070599;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    width: 80%;
    height: auto;
    cursor: pointer;
    margin: 5px;
}

.form input[type=submit]:hover {
    background-color:  rgb(12, 10, 102);
}

.form input[type=submit]:active{
    background-color: #070599;
}

/* .footer {
    width: 100%;
    /* margin: auto; */
    /* bottom: 0;
}   */


/* .footer {
    position: absolute;
    margin-top: 50;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    /* color: white; */
    /* text-align: center; */
  /* } */

/* Attendance */
#attendance-form{
    padding: 20px 0 0 15px;
}

#attendance-date{
    width: max-content;
}

#attendance-table{
    margin: auto;
    width: 95%;
}

#attendance-sub{
    width: 10%;
    padding-left: 15px;
}

/*staff profile*/
.staff_profile{
    border: rgb(255, 255, 255);
    background-color: #F7F8FC;
    border-style: solid;
    min-height: 520px;
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 20px;
    margin-top: 5%;
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.30);
}
#staffprofile {
   width: 80%;
   margin-left: 60px;
   margin-top: 5%;
   table-layout:fixed;
}
#staffprofile tr td  {
    text-align: left;
    font-size: 18px;
    height: 55px;
    width: 40%;
}
.profile_btn input[type=button]{
  background-color: #070599;
  color: white;
  width:27%;
  margin:5 auto;
  margin-left: 5%;
  position: relative;
  font-size: 18px;
  display:inline-block
  
}
.profile_btn a{
    display: block;
    width: 115px;
    height: 25px;
    background: #070599;
    padding: 10px;
    display: inline;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

/*staff edit ptofile*/

.profile-edit{
    text-align: center;
    background-color: #F7F8FC;
    margin: auto;
    width: 20%t;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px rgb(255, 255, 255);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: auto;
    box-shadow: 0px 0px 5px 0px rgba(58, 57, 57, 0.3);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.profile-edit h2{
font-size: 30px;
text-align: center;
margin-top: 2%;
}

.profile-edit[type=text]{
        width: 80%;
        padding: 6px 10px;
        margin: 8px 0;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        -ms-box-sizing:content-box;
        -moz-box-sizing:content-box;
        -webkit-box-sizing:content-box; 
        box-sizing:content-box;
        font-family: Arial, Helvetica, sans-serif;
    
}
.staff-profilelist tr td{
   width:75%;
}
.staff-profilelist th{
    margin-top: 15%;
    font-size: 18px;
    display: inline-block;
}

.profile-edit [type=submit]{
border-radius: 4px;
background-color: #070599;
border: none;
color: #FFFFFF;
text-align: center;
font-size: 18px;
padding: 15px;
width: 30%;
height: auto;
cursor: pointer;
margin: 5px;
}
.profile-edit [type=button]{
    border-radius: 4px;
    background-color:#070599;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 30%;
    height: auto;
    cursor: pointer;
    margin: 5px;
    }