@import "landing.css"; 
@import "staff.css";

#Student-resultlist tr td{
text-align: center;
width: 10%;
}
#student-resultlist th{
    background-color: #070599;
    color: white;
    font-size: 18px;
}
.Student-result_list{
    text-align: center;
    background-color: #F7F8FC;
    margin: auto;
    width: 20%t;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px rgb(255, 255, 255);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    height: auto;
    box-shadow: 0px 0px 5px 0px rgba(58, 57, 57, 0.3);
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.Student-result_list h2{
    color: blue;
}

#submissionpopup {
    display: none;
    width: 95%;
    margin: auto;
    background-color: #eaedfa;
    border: 1px solid blue;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 5;
    border-radius: 5px;
    overflow: hidden;
}

#popup-head{
    display: flex;
    justify-content: space-between;
    font-size: 20;
    color: blue;
}

#popup-head a{
    cursor: pointer;
}

#submission-upload label{
    margin: 0;
    padding: 0;
}
#submission-upload input[type="file"]{
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 10;
}

#submission-upload table{
    width: 30%;
    margin-top: 10px;
}
#submission-upload table tr td {
    margin: 0;
    padding: 0;
}

#submission-upload input[type="submit"]{
    width: 10%;
    margin-top: 10px;
    background-color: blue;
    color: white;
    border: none;
}

#submission-upload input[type="submit"]:hover{
    background-color: #070599;
}