{% extends './base.html' %}
{% load static %}

{% block title %}Announcement{% endblock %}

{% block content %}
<div class ="allannouncement">
    <h2>All Announcement</h2>
    <a href="../home"><button>Back</button></a>
    <hr>
    
</div>
<div class="announcement_section">
<form  method="POST" > {% csrf_token %}
    <table id="announcement_list2" border="1">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th colspan="2">Action</th>

        </tr>

    {% for i in announcementform1 %}
        <tr>
            <td>{{i.title}}</td>
            <td>{{i.description}}</td>
            <td> <a href="../edit-announcement/{{i.account_id}}">Edit</a></td>
            <td><a href="../delete-announcement/{{i.account_id}}" onclick="announcement_delete()">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
<script>
    function announcement_delete() {
        alert("Announcement Deleted");
        }
</script>
</div>
</form>
</br>
<div class="announcement_footer">
    <hr>
        Purvesh Gandhi & Ronak Kanthariya
</div>




{% endblock %}  