{% extends './base.html' %}
{% load static %}

{% block title %}Announcement{% endblock %}

{% block content %}
<div class ="announcementform">
    <h2>Announcement</h2>
    <hr>
<form  method="POST" > {% csrf_token %}
    <table class="announcement_list1">
        {% for field in announcementform1 %}
        <tr>
        <td class="announcement_label" style="vertical-align: top;">
            {{ field.label }}
        </td>
        <td class="announcement_field" style="vertical-align: top;">
            {{ field }}
            <p> {{ field.errors }} </p>
            </td>
    </tr>

        {% endfor %}
    </table>
                <input type="submit" value="Add" onclick="announcement_add()"/>
           
                <input type="button" value="Show"  onclick="location.href='../all-announcement'"/>
            
                <input type="button" value="Cancel" onclick="location.href='../home'"/>
         
                {% if messages %}
                {% for j in messages %}
                <h2>{{j}}</h2>
                {% endfor %}
                {% endif %}               
</div>

</form>
<script>
    function announcement_add() {
      alert("Announcement Added");
    }
    </script>
</br>


<div class="announcement_footer">
    <p>
        Purvesh Gandhi & Ronak Kanthariya
    </p>

</div>

{% endblock %}  