{% load static %}
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="header">
            <a href="{{ '/login' }}"><img src="{% static 'ganpat_logo.png' %}" alt="My image" class="top-logo"></a>
            <div class="navbar">
                {% include './navbar.html' %}
            </div>
        </div>

        <div class='main'>
                <div class="login">
                    <div id="head">
                        <h3>Login</h3>
                    </div>
                    <form action="." method="POST" class="login-form"> {% csrf_token %}
                        <div class="container">
                            <label for="user">{{ form.username.label }}</label></br>
                            <!-- <input type="text" id="user" placeholder="Enter your username"/></br> -->
                            <div class="field">
                                {{ form.username }}
                                {{ form.username.errors }}
                            </div>
                        </div>
                        <div class="container">
                            <label for="passwd">{{ form.passwd.label }}</label></br>
                            <!-- <input type= "password" id="passwd" placeholder="Enter your password"></br> -->
                            <div class="field">
                                {{ form.passwd }}
                                {{ form.passwd.errors }}
                            </div>
                        </div>
                        
                        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                        <input type="submit" value="Login" id="btn" style="margin-top: 15px;"/>
                    </form>
                    <p style="text-align: center;">New User?</p>
                    <input type="submit" value="Sign Up" id="btn" onclick="location.href='../register'" style="margin-top: 15px;" />
                </div>

                <div class="announcements">
                    <div id="head">
                        <h3>Announcements</h3>
                        </table>
                    </div>
                    <table id="announcements_table">
                        {% for i in announcement_data %}
                        <tr>
                        <td><b>{{i.title}}:</b> {{i.description}},<i>&nbsp&nbsp&nbsp{{i.date}}</i></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </br>
    </div>
        <div class="footer">
            <p>
                Purvesh Gandhi & Ronak Kanthariya
            </p>
        
    </body>
</html>